
@import "tailwindcss";

:root {
<<<<<<< HEAD
=======
  --background: #0070f3;
  --foreground: #ffffff;
>>>>>>> c8f9e8677b78c8c32f4d6692bb9d7c0ca62a3561
  --background: #f0f4ff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #f0f4ff;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
